{
  "cloudURL": "https://api.electricimp.com/v5",
  "ownerId": "fe532488-74e4-a84a-6686-c6eda794abb1",
  "deviceGroupId": "f4d30913-bebd-dd51-2f12-f9c18c687e7b",
  "device_code": "src/device.nut",
  "agent_code": "src/agent.nut",
  "builderSettings": {
    "variable_definitions": {},
    "builder_libs": []
  }
}